PyQt5
sounddevice
openai
openai-whisper
whisper-timestamped
librosa
soundfile
faster-whisper
opus-fast-mosestokenizer
aioconsole
google-cloud-texttospeech
numpy==1.26.4
accelerate
bitsandbytes
matplotlib
transformers
aiortc
pydub
aiohttp
torch==2.3.1
torchaudio==2.3.1
